* {/*  Varies values to fit within given size */
  box-sizing: border-box;
}

/* Body styles */
body {
  background-color: #264;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.6;
  text-align: center;
}

h1 {
  text-decoration: underline;
}

.pokemon-list {
  list-style-type: none;
  display: inline;
}

/* Button styles */
.custom-button {
  border: 2px brown solid;
  height: 50px;
  width: 250px;
  margin-bottom: 10px;
  text-transform: uppercase;

}

.loadingMessage {
  color: black;
  font-weight: bold;
}

#modal-container {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(140, 100, 200, 0.5);
  /* to show it above other content */
  z-index: 999;
  /* to allow scrolling if the screen is not high enough*/
  overflow: auto;
  /* this is used to center the modal */
  display: grid;
  text-align: center;
}

.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 15px;
  width: 100%;
  max-width: 700px;
  color: black;
  text-align: left;
}

.modal-close {
  float: right;
  -webkit-appearance: none;
  height: 40px;
  width: 40px;
  border: 2px solid;
  border-radius: 50%;
  text-decoration: none;
}

.modal-close:hover {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  background: rgb(180, 15, 15);
  color: #fff;
}

.modal h1 {
  margin-top: 0;
  text-transform: uppercase;
}

.modal p {
  margin-bottom: 0;
}

.modal img {
  display: block;
  margin: auto;
}

#modal-container {
  display: none;
}

#modal-container.is-visible {
  /* CSS for modal container - add your own desired CSS styles here */
  display: block;
}
